.btn-details{
    background-color: rgba(136, 163, 83,0.9);
    color: $cotton-white;
    border-color:rgba(136, 163, 83,0.9);
}

.btn-details:hover{
    background-color: rgba(136, 163, 83,0.6);
    color: $cotton-white;
    border-color:rgba(136, 163, 83,0.6);
}
