.btn-details{
    background-color: rgba(136, 163, 83,0.9);
    color: $cotton-white;
    border-color:rgba(136, 163, 83,0.9);
}

.btn-details:hover{
    background-color: rgba(136, 163, 83,0.6);
    color: $cotton-white;
    border-color:rgba(136, 163, 83,0.6);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.card{
    margin: 0 auto; 
  }

  .card:hover{
    opacity: 0.8;
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}