.related-products {
		
	a {
		text-decoration: none;
		color: gray;
	}

	a:hover {
		color: black;
	}

	img:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,1)
	}
}

.other-pics {
	img {
		height: 90px;
		width: 60px;
	}

	img:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,1)
	}
}

.related-products-session {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 576px) {
  .related-products-session {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .related-products-session {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .related-products-session {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.labels-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 8px;
}

.label-show {
	margin: 0 auto;
}
