<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <%= render "./shared/search" %>
        </div>
    </div>
    <div class="cards text-center">
        <% @fabrics.each do |fabric| %>
            <%= render "./shared/base_fabric", fabric: fabric %>
        <% end %>
    </div>
</div>