<div class="container">
	<h1>Meu Carrinho</h1>
	<% @cart.keys.each do |company| %>
		<div class="d-flex">
			<% if current_user.photo.attached? %>
			<!-- mudar para empresa -->
				<%= cl_image_tag current_user.photo.key, alt: "#{company.name} logo", class: "mr-1" %>
			<% else %>
				<i class="fas fa-building"></i>
			<% end %>
			<h2>company.name</h2>
		</div>
	<% end %>
</div>