<%= render "./shared/company_banner", company: @company %>

<div class="container">
    <div class="row  my-5">
        <% if policy(Fabric).new? %>
        <%= link_to "Adicionar um novo produto", new_fabric_path, class: "btn btn-success btn-lg"  %>
        <% end %>
    </div>
    
    <% if @fabrics.empty? %>
        <h2>Sua empresa ainda não oferece produtos.</h2>
    <% else %>
        <h2>Os produtos oferecidos pela sua empresa:</h2>    
    <% end %>
    

    <div class="row">
        <div class="cards my-5 text-center">
            <% @fabrics.each do |fabric| %>
                <%= render "./shared/base_fabric", fabric: fabric %>
            <% end %>
        </div>
    </div>
</div>