<%= render "./shared/company_banner", company: @company %>

<div class="container">
    <div class="row  my-5">
        <% if policy(Fabric).new? %>
        <%= link_to "Addicionar um novo produto", new_fabric_path, class: "btn btn-success btn-lg"  %>
        <% end %>
    </div>
    
    <h2>Os produtos oferecidos pela sua empresa:</h2>

    <div class="row">
        <div class="cards my-5 text-center">
            <% @fabrics.each do |fabric| %>
                <%= render "./shared/base_fabric", fabric: fabric %>
            <% end %>
        </div>
    </div>
</div>