.card-product {
  overflow: hidden;
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  margin: 4px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin: 0px;
}

.card-product .card-product-infos {
  flex-grow: 1;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.card-product .card-options {
  text-align: right;
}

.edit-links {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: .5px solid rgb(200,200,200);
  position: absolute;
  top: 8px;
  right: 8px;
  width: 80px;
  background: rgba(200,200,200,.5);
  a {
    text-decoration: none;
    color: rgb(200,200,200);
  }
  a:hover {
    color: rgb(150,150,150);
  }
}

.card-body.fabric {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body .content {
  flex-grow: 1;
}

.card-fabric {
  position: relative;
}

.card-body label {
  margin-bottom: 0px;
  margin-right: 8px;
}