.card-address {
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	padding: 16px;
	display: flex;
	flex-direction: column;
	h3 {
		color: gray;
		font-weight: bold;
		width: 100%;
		font-size: 14px;
		border-bottom: .5px solid rgb(240, 240, 240);
	}
	p {
		font-size: 10px;
		margin: 0;
		color: gray;
	}
	.card-links {
		margin-top: 8px;
		display: flex;
		justify-content: space-between;
	}
	.card-details {
		flex-grow: 1;
	}
}

.card-address.selected{
	border-left: 8px solid $green;
	color: black;
}
