.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  color: $cotton-white;
  transition: 0.5s background-color ease;
  transition: 0.5s color ease;
  margin-bottom: 10px;
  a {
  text-decoration: none;
    color: $cotton-white;
  }
  li {
    margin: auto 4px;
  }
}

.navbar-lewagon .dark-link a {
  color: black;
}

.navbar-lewagon.white {
    background-color: $cotton-white;
    color: black;
    a {
      color: black;
    }
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-space {
  height: 60px;
  background-color: transparent;
}

.dark-links {
  a {
    color: black;
  }
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px; 
}
