.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  color: $cotton-white;
  transition: 0.5s background-color ease;
  transition: 0.5s color ease;
  margin-bottom: 10px;
  a {
	text-decoration: none;
  	color: $cotton-white;
  }
  li {
  	margin: auto 4px;
  }
}

.navbar-lewagon .dark-link a {
	color: black;
}

.navbar-lewagon.white {
  	background-color: $cotton-white;
  	color: black;
  	a {
  		color: black;
  	}
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-space {
	height: 60px;
	background-color: transparent;
}

.dark-links {
	a {
		color: black;
	}
}
